name: CI/CD Log Archiver

on:
  push:
    tags:
      - 'v*' # Triggers on version tags like v1.0.14

jobs:
  deploy:
    name: Build, Scan and Deploy
    runs-on: ubuntu-latest

    # Add permissions for WIF authentication
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      # --- STEP 1: CODE QUALITY (CI) ---
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Lint with Flake8
        run: |
          pip install flake8
          # Stop the build if there are Python syntax errors or undefined names
          flake8 ./app --count --select=E9,F63,F7,F82 --show-source --statistics

      # --- STEP 2: SECURITY SCAN (DevSecOps) ---
      - name: Build Local Image for Scanning
        run: docker build -t local-scan-image:latest ./app

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'local-scan-image:latest'
          format: 'table'
          exit-code: '1' # Fails the pipeline if HIGH/CRITICAL vulns are found
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          scanners: 'vuln'
          trivyignores: .trivyignore

      # --- STEP 3: GOOGLE CLOUD AUTH (CD) ---
      - id: 'auth'
        name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: '${{ secrets.GCP_WIF_PROVIDER }}'
          service_account: '${{ secrets.GCP_SA_EMAIL }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      # --- STEP 4: DOCKER AUTH & PUSH ---
      - name: 'Docker Auth'
        run: |
          # This is the secret sauce: it bridges gcloud auth with docker push
          gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build and Push to Artifact Registry
        run: |
          # We use the tag version for the image tag
          IMAGE_NAME="us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/log-archiver-repo/app:${{ github.ref_name }}"
          docker build -t $IMAGE_NAME ./app
          docker push $IMAGE_NAME

      # --- STEP 5: INFRASTRUCTURE AS CODE ---
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="project_id=${{ secrets.GCP_PROJECT_ID }}" \
            -var="app_image=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/log-archiver-repo/app:${{ github.ref_name }}"
        working-directory: ./terraform